################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
**/bin/
**/obj/
**/TestResults/
/coverage/
/CoinPusherEngine.Tests/coverage/
/.sonar_cache/
/.sonarqube/
/.tools/
/.volumecheck/
/.git.empty-backup-*/
*.zip
/tests/CoinPusher.Engine.Tests/bin/Debug/net8.0
/tests/CoinPusher.Engine.Tests/obj/Debug/net8.0
/src
/tests/CoinPusher.Engine.Tests/obj
